{% extends "service_base.html" %}

{% block heading %}
    <div>🌐 Wennze Cloud IT consulting services</div>
{% endblock heading %}

{% block sub-heading %}
    <h2>IT consulting Solutions Tailored For You</h2>
{% endblock sub-heading %}


{% block content %}
    <section class="services-overview container">
  <h2 class="text-center mb-5" data-aos="fade-up">Our IT Consulting Services</h2>
  <div class="services-grid">
    <div class="service-card" data-aos="fade-right">
      <h4><i class="fas fa-lightbulb"></i> IT Strategy & Planning</h4>
      <p>Align your IT infrastructure with business goals through expert roadmaps, modernization strategies, and future-proof planning.</p>
    </div>
    <div class="service-card" data-aos="fade-up">
      <h4><i class="fas fa-project-diagram"></i> Technology Assessments</h4>
      <p>In-depth evaluation of your current systems to identify gaps, reduce costs, and recommend innovative solutions for growth.</p>
    </div>
    <div class="service-card" data-aos="fade-left">
      <h4><i class="fas fa-cloud-upload-alt"></i> Cloud Consulting</h4>
      <p>Navigate your cloud journey with expert advice on migrations, hybrid environments, SaaS adoption, and cost optimization.</p>
    </div>
    <div class="service-card" data-aos="fade-up">
      <h4><i class="fas fa-sync-alt"></i> Digital Transformation</h4>
      <p>Empower your business with cutting-edge technologies like automation, AI, and IoT to drive efficiency and innovation.</p>
    </div>
  </div>
</section>
{% endblock content %}  